<!DOCTYPE html><html><head>
	<title>Inline Edit</title>

	<!-- Data -->
	<script data-scope="content">"<h1>This is a title!</h1> <p>This is just some example text to start.</p> <p>Edit it and press Ctrl+s</p>"</script>

	<!-- Template Engine (requires data and uses syntax highlighting) -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="ngDocEdit.js"></script>
	<link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"><!-- Wysiwyg Editor -->

	<!-- Style -->
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/lfuhr/ngDocEdit@0.1/style.css">
</head>
<body ng-app="ngDocEdit" ng-controller="controller">
	<div id="toc">
		<h2>Contents</h2>
		<ul> <li ng-repeat="headline in headlines" ng-class="'toc'+headline.level" ng-click="scrollTo(headline)">
		{{headline.label}}</li> </ul>
	</div>
	<div id="page" class="toc-supervised">
		<div class="wysiwyg" contenteditable="true" ng-model="content"></div>
	</div>
	<button embedded="true" blobdata="" ctrl-s="true">Download everything</button>


</body></html>