<!DOCTYPE html>
<html>
<head>
	<title>Enterprise Architect UML Model Validation</title>

    <!-- Inline Editor -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <script src="wysiwyg.js"></script>

    <!-- Syntax highlighting -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.12.0/build/styles/xcode.min.css">
    <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.12.0/build/highlight.min.js"></script>

    <!-- Template Engine (requires data and uses syntax highlighting) -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="ngDocEdit.js"></script>

    <!-- Data -->
    <script src="../Model%20Validation/validationRules.js"></script>
    <script>ngDocEdit.controller("controller", function ($scope) {$scope.data = jsonData;});</script>

    <!-- Style -->
    <link rel="stylesheet" type="text/css" href="style.css">

    <!-- Custom scripts -->
    <script type="text/javascript">
        // Two filters that really depend on the context
        ngDocEdit.filter('evalsOn', function() { // Extract specific infos to the users
            var evalfunctions = ["diagram","element","package","structured"]
            return function(input){
                return Object.keys(input).filter(function(property) {
                    return evalfunctions.indexOf(property) > -1
                }).join(', ')
            }
        })
        .filter('requirements', function () { return function(rules, rule) {
            return (rules.filter(function(otherRule){
                return otherRule.requiredBy && otherRule.requiredBy.indexOf(rule.ID) > -1
            }).map(function(r){return r.ID})).join(', ')
        }})
    </script>

</head>
<body ng-app="ngDocEdit" ng-controller="controller">
    <div id="page">
	<header>
		<h1 ng-model="data.title" contenteditable="true"></h1>
        <div id="toc">
            <h2>Contents</h2>
            <ul> <li ng-repeat="headline in headlines" ng-class="'toc'+headline.level" ng-click="scrollTo(headline)">
                {{headline.label}}</li> </ul>
        </div>
		<dl>
    	<dt>Author:</dt> <dd ng-model="data.author" contenteditable="true"></dd>
			<dt>Version:</dt> <dd ng-model="data.version" contenteditable="true"></dd>
		</dl>
		<p>This document is only for <span ng-model="data.scope" contenteditable="true"></span> use.</p>
	</header>

    <div class="toc-supervised">

        <div class="preamble wysiwyg" ng-model="data.preamble" contenteditable="true"></div>


        <div ng-repeat="rule in data.rules"
        onfocusin="this.getElementsByTagName('button')[0].style.display = 'block'"
        onfocusout="var b=this.getElementsByTagName('button')[0]; if (!b.parentElement.querySelector('button:hover')) b.style.display = 'none'">

            <button  style="float: right;display: none;" ng-click="data.rules.splice($index, 1)">Remove</button>
            <h2 ng-model="rule.description" contenteditable="true"></h2>
            <table>
                <tr>
                    <th>Description</th>
                    <td><input type="text" required="required" ng-model="rule.description"/></td>
                </tr>
                <tr>
                    <th>Rule ID</th>
                    <td><input type="text" required="required" ng-model="rule.ID"/></td>
                </tr>
                <tr ng-if="rule.config">
                    <th>Configuration</th>
                    <td><input type="text" json ng-model="rule.config"/></td>
                </tr>
                <tr>
                    <th>Required By</th>
                    <td><input type="text" json ng-model="rule.requiredBy"/></td>
                </tr>
                <tr ng-if="data.rules | requirements : rule">
                    <th>Requires</th>
                    <td>{{ data.rules | requirements : rule }}</td>
                </tr>
                <tr>
                    <th>Evaluated on</th>
                    <td>{{ rule | evalsOn }}</td>
                </tr>
                <tr>
                    <th>Sourcecode</th>
                    <td><pre><code ng-bind-html="rule | serialize | strip_wrapping | highlight"></code></pre></td>
                </tr>
                <tr>
                    <th>Fancy</th>
                    <td class='wysiwyg' contenteditable="true" ng-model="rule.fancy"></td>
                </tr>
            </table>

        </div> <!-- rule in rules -->
        <button ng-click="data.rules.push({})"> Add one</button>
        <h1>Whole Sourcecode</h1>
        <p>Can be downloaded or copied if you doubleclick the code.</p>
        <button blobdata="'jsonData = ' + (data | serialize | unindent : 2)" ctrl-s filename="validationRules.js.txt">Download everything</button>
        <pre id="completecode"><code ng-bind-html="data | serialize | unindent : 2 | highlight"></code></pre>
    </div>
    </div>
</body>
</html>