<!DOCTYPE html>
<html>
<head>
	<title>Enterprise Architect UML Model Validation</title>

    <!-- Inline Editor -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <script src="../InlineEditor/editor.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.12.0/build/styles/xcode.min.css">
    <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.12.0/build/highlight.min.js"></script>
	<script src="../Model%20Validation/validationRules.js"></script>
	<script src="templateEngine.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body ng-app="app" ng-controller="controller">
    <div id="page">
	<header>
		<h1 ng-model="docu.title" contenteditable="true"></h1>
        <div id="toc">
            <h2>Contents</h2>
            <ul> <li ng-repeat="headline in headlines" ng-class="'toc'+headline.level" ng-click="scrollTo(headline)">
                {{headline.label}}</li> </ul>
        </div>
		<dl>
    	<dt>Author:</dt> <dd ng-model="docu.author" contenteditable="true"></dd>
			<dt>Version:</dt> <dd ng-model="docu.version" contenteditable="true"></dd>
		</dl>
		<p>This document is only for <span ng-model="docu.scope" contenteditable="true"></span> use.</p>
	</header>
    
    <div class="toc-supervised">

        <div class="preamble wysiwyg" ng-model="docu.preamble" contenteditable="true"></div>


        <div data-ng-repeat="rule in rules">

            <button  style="float: right;" ng-click="removeRule($index)">Remove</button>
            <h2>{{rule.description}}</h2>
            <table>
                <tr>
                    <th>Description</th>
                    <td><input type="text" required="required" ng-model="rule.description"/></td>
                </tr>
                <tr>
                    <th>Rule ID</th>
                    <td><input type="text" required="required" ng-model="rule.ID"/></td>
                </tr>
                <tr ng-if="rule.config">
                    <th>Configuration</th>
                    <td><input type="text" codestring ng-model="rule.config"/></td>
                </tr>
                <tr>
                    <th>Required By</th>
                    <td><input type="text" codestring ng-model="rule.requiredBy"/></td>
                </tr>
                <tr ng-if="rule | requirements">
                    <th>Requires</th>
                    <td>{{ rule | requirements }}</td>
                </tr>
                <tr>
                    <th>Evaluated on</th>
                    <td>{{ rule | evalsOn }}</td>
                </tr>
                <tr>
                    <th>Sourcecode</th>
                    <td><pre><code ng-bind-html="rule | obj2src | highlight | unsafe"></code></pre></td>
                </tr>
                <tr>
                    <th>Fancy</th>
                    <td class='wysiwyg' contenteditable="true" ng-model="rule.fancy"></td>
                </tr>
            </table>

        </div> <!-- rule in rules -->
        <button ng-click="rules.push({})"> Add one</button>
        <h1>Whole Sourcecode</h1>
        Can be <a ng-href="{{bloburl}}" download="validationRules.js.txt" ng-click="updatedownload()">downloaded</a>.
        <pre id="completecode"><code ng-bind-html="rules | arr2src | highlight | unsafe"></code></pre>
    </div>
    </div>
</body>
</html>