body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    line-height: 1.45;
    word-spacing: 2px;
    margin: auto;
    max-width: 1200px;
    padding: 2%;
}
input, textarea {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: none;
    font-size: inherit;
    color: inherit;
    background-color: inherit;
} input:hover, textarea:hover {
    background-color:whitesmoke;
}
table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}
th {
    width: 6.5em;
    text-align: left;
    background-color: whitesmoke;
}
th, td {
    border: 1px solid grey;
    padding: .1em;
    padding: .2em .5em .2em;
}
h1, h2, h3 {
	margin: 1.5em 0 .7em;
	letter-spacing: -1px;
    word-spacing: normal;
    font-weight: 500
}
b, strong, th {
    font-weight: 500;
}
*:invalid, .ng-invalid { background-color: #f2c3c3; }
.hljs {background-color: transparent;}



header h1 {
    font-size: 3em;
    line-height: normal;
} header h1:before {
    content: none;
}
#toc {
    background: whitesmoke;
    padding: 1em 2em 2em;
} #toc ul {
    list-style: none;
    padding: 0;
} #toc li {
    cursor: pointer;
} #toc .toc1 {
    font-weight: 500;
} #toc h2:before {
    content: none;
}
@media (min-width: 960px) {
    #toc {
        margin: 1em;
        float: right;
        max-width: 500px;
    }
}


/* Heading Numbering
/*============================================================================*/
body, .toc-supervised { counter-reset: h1counter h2counter h3counter h4counter
    h5counter h6counter; }
h1, .toc1{ counter-reset: h2counter h3counter h4counter h5counter h6counter; }
h1:before, .toc1:before {
    content: counter(h1counter) "\0000a0\0000a0";
    counter-increment: h1counter;
}
h2:before, .toc2:before {
    content: counter(h1counter) "." counter(h2counter) "\0000a0\0000a0";
    counter-increment: h2counter;
    counter-reset: h3counter h4counter h5counter h6counter;
}
h3:before, .toc3:before {
    content: counter(h1counter) "." counter(h2counter) "." counter(h3counter)
        "\0000a0\0000a0";
    counter-increment: h3counter;
    counter-reset: h4counter h5counter h6counter;
}
h4:before, .toc4:before {
    content: counter(h1counter) "." counter(h2counter) "." counter(h3counter)
        "." counter(h3counter)  "\0000a0\0000a0";
    counter-increment: h4counter;
    counter-reset: h5counter h6counter;
}
h5:before, .toc5:before {
    content: counter(h1counter) "." counter(h2counter) "." counter(h3counter)
        "." counter(h4counter) "." counter(h5counter)  "\0000a0\0000a0";
    counter-increment: h5counter;
    counter-reset: h6counter
}
h6:before, .toc6:before {
    content: counter(h1counter) "." counter(h2counter) "." counter(h3counter)
        "." counter(h4counter) "." counter(h5counter) "." counter(h6counter)  "\0000a0\0000a0";
    counter-increment: h6counter;
}
/*============================================================================*/