<!DOCTYPE html>
<html>
<head>
	<title>Inline Edit</title>

	<!-- Template Engine (requires data and uses syntax highlighting) -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="../ngDocEdit.js"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>


	<!-- Data -->
	<script src="simple_document.js"></script>
	<script>ngDocEdit.controller("controller", function ($scope) {$scope.content = content;});</script>

	<!-- Style -->
	<link rel="stylesheet" type="text/css" href="../style.css">
</head>
<body ng-app="ngDocEdit" ng-controller="controller">
	<div id="toc">
		<h2>Table of Contents</h2>
		<ul> <li ng-repeat="headline in headlines" ng-class="'toc'+headline.level" ng-click="scrollTo(headline)">
		{{headline.label}}</li> </ul>
	</div>
	<div id="page" class="toc-supervised">
		<div class='wysiwyg' contenteditable="true" ng-model="content"></div>
	</div>
	<ctrl-s blobdata="'content = ' + (content | serialize)"  filename="simple_document.js"/>

</body>
</html>